.DS_Store
node_modules
/ssl
/mumble-server.log
/mumble-server.sqlite
/mumble-server.ini
/config/config.json
/config/default.json
/config/log4js.json

# local env files
.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
